<aside 
    class="block basis-full md:basis-2/6 2xl:basis-1/6 border-r border-gray-400 transition-all duration-1000" 
    :class="{ 'h-screen' : mobileMenuOpen , 'h-0' : !mobileMenuOpen}" >

    <header class="flex flex-row flex-wrap">
        <a class="basis-1/4 md:basis-full" href="/" title="">
            <img class="mx-auto my-4 max-h-12 md:max-h-24" src="/tlrIcon3.webp" alt="atlza.com logo" loading="lazy"/>
        </a>

        <p class=" basis-3/4 md:basis-full h1 self-center text-left md:text-center">
            {{ $.Site.Params.siteName }}
            <span class="h1span">{{ $.Site.Params.siteSubName }}</span>
        </p>
    </header>

    <ul class="my-6 p-8 space-y-3 list-none">
        {{ range .Site.Menus.main }}             
        <li class="pt-5 text-neutral-800 border-solid border-b border-light-blue-500">
            <a class="text-gray-900 hover:text-gray-400" href="{{ .URL }}" >{{ .Name }}</a>
        </li>
        {{ end }}   
        <li class="pt-5 text-neutral-800 border-solid border-b border-light-blue-500">
            <a class="text-gray-900 hover:text-gray-400" href="https://work.withmu.com" target="_blank" >Mu</a>
        </li>
    </ul>

    <footer>
        <div class="text-center">
            <a class="inline-block px-2" href="{{ $.Site.Params.instagram }}" target="_blank">
                <svg class="w-4 h-4 icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
            </a>
            <a class="inline-block px-2" href="{{ $.Site.Params.twitter }}" target="_blank">
                <svg class="w-4 h-4 icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>
            <a class="inline-block px-2" href="{{ $.Site.Params.facebook }}" target="_blank">
                <svg class="w-4 h-4 icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
            </a>
            <a class="inline-block px-2" href="{{ $.Site.Params.flickr }}" target="_blank">
                <svg class="w-4 h-4 icon icon-flickr2"><use xlink:href="#icon-flickr2"></use></svg>
            </a>
        </div>      
        
        <small class="text-center block text-gray-400">&copy; {{ now.Format "2006"}} {{ $.Site.Params.author }}</small>
    </footer>

</aside>