  @font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/JosefinSans.woff2') format('woff2 supports variations'),
         url('/fonts/JosefinSans.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }